!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title NccWaw
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{ href: "#" } Super Rating Chińczyków
      %button.navbar-toggler{ "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarNav", "data-toggle": "collapse", :type => "button" }
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            =link_to "Main", root_path, class: "nav-link"
          %li.nav-item
            %a.nav-link{ href: "#" } raz
          %li.nav-item
            %a.nav-link{ href: "#" } dwa
          %li.nav-item
            %a.nav-link{ href: "#" } trzy
          -if user_signed_in?
            %li.nav-link
              %span.nav-link.disabled=current_user.username
            %li.nav-item
              =link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link"
          -else
            %li.nav-item
              =link_to "login", new_user_session_path , class: "nav-link"
  %body
    = yield
